@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}
body{
    background: url(/Imagenes/36895784-pantalla-virtual-grande-con-matriz-azul.jpg);
    background-size: 100%;
}

header{
    width: 200px;
    height: 100px;
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 25px;
    font-weight: 300; /* Expesor de fuente */
    margin: auto;
}
header nav a{
    padding: 12px;
    justify-content: flex-end;
}
#contenedor img{
    position: relative;
    display: inline-block;
    text-align: center;
}
